.demo-box.demo-rate {
 .el-row {
   margin-bottom: 10px;
 }
 .el-button + .el-rate {
   margin-left: 10px;
 }
 .el-rate-group {
   margin-bottom: 20px;

   .el-rate + .el-rate {
     margin-left: 0;
   }

   & + .el-rate-group {
     margin-left: 10px;
   }
 }
}

.demo-box.demo-rate .intro-block {
 padding: 0;
}

.demo-rate .intro-block .block {
 padding: 30px 24px;
 overflow: hidden;
 border-bottom: solid 1px #EFF2F6;
 &:last-child {
   border-bottom: none;
 }
}

.demo-rate .intro-block .demonstration {
 font-size: 14px;
 color: #8492a6;
 line-height: 44px;
}

.demo-rate .intro-block .wrapper {
 margin-right: 20px;
}
