{
  "env": {
    "development": {
      "presets" : ["env", "stage-1", "react"],
      "plugins" : ["react-hot-loader/babel", ["transform-runtime", { "polyfill": false }]]
    },
    "test": {
      "presets" : ["env", "stage-1", "react"]
    },
    "production": {
      "presets" : [["env", { "modules": false, "loose": true }], "stage-1", "react"],
      "plugins" : [["transform-runtime", { "polyfill": false }]]
    }
  }
}
