.demo-box.demo-tag {
  .el-tag {
    margin-right: 10px;
  }

  .button-new-tag {
    height: 24px;
    line-height: 22px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .input-new-tag {
    width: 78px;
    vertical-align: bottom;

    .el-input__inner {
      height: 24px;
    }
  }
}
