@import "alert.scss";
@import "layout.scss";
@import "button.scss";
@import "radio.scss";
@import "card.scss";

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-weight: 400;
}

.app {
  .header {
    display: flex;
    align-items: center;
    background: rgb(32, 160, 255);
    height: 80px;
    color: #fff;
    padding: 0 25px;

    h1 {
      font-size: 32px;
      font-weight: 400;
    }
  }

  .content {
    display: flex;
  }
}

.menu {
  width: 200px;
  padding: 25px;
  border-right: 1px solid #f0f0f0;

  ul {
      list-style: none;
  }
}

.menu-item {
    font-size: 16px;
    color: #5e6d82;
    line-height: 40px;
    height: 40px;
    cursor: pointer;
}

.demo {
  flex: 1;
  padding: 25px;
}

.demo-section {
    margin-bottom: 45px;
}

.demo-header {
  h2, h3, h4, h5 {
    font-weight: 400;
    color: #1f2f3d;
  }

  p {
    font-size: 14px;
    color: #5e6d82;
    margin: 10px 0 20px;
  }
}

.demo-content {
  padding: 24px;
  margin-top: 20px;
  border: 1px solid #eaeefb;
  border-radius: 4px;
}
