* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-weight: 400;
}

.app {
  .header {
    display: flex;
    align-items: center;
    background: rgb(32, 160, 255);
    height: 80px;
    color: #fff;
    padding: 0 25px;

    h1 {
      font-size: 32px;
      font-weight: 400;
    }
  }

  .main {
    display: flex;
  }
}

.content {
  flex: 1;
  padding: 25px;
  overflow: hidden;

  h2 {
    font-size: 28px;
    color: #1f2d3d;
    margin: 0;
  }

  h3 {
    font-size: 22px;
    margin: 45px 0 15px;
  }

  h2, h3, h4, h5 {
    font-weight: normal;
    color: #1f2f3d;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    color: #5e6d82;
    font-size: 14px;
    margin-bottom: 45px;

    strong {
      font-weight: normal;
    }

    th {
      text-align: left;
      border-top: 1px solid #eaeefb;
      background-color: #EFF2F7;
    }

    td, th {
      border-bottom: 1px solid #eaeefb;
      padding: 10px;
    }

    th:first-child, td:first-child {
      padding-left: 10px;
    }
  }
}

.side-nav {
  width: 200px;
  padding: 30px;

  li {
    list-style: none;
  }
  ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .nav-item {
    a {
      font-size: 16px;
      color: #5e6d82;
      line-height: 40px;
      height: 40px;
      margin: 0;
      padding: 0;
      text-decoration: none;
      display: block;
      position: relative;
      transition: all .3s;
      &.active {
        color: #20a0ff;
      }
    }
    .nav-item {
      a {
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
        padding-left: 24px;
        &:hover {
          color: #20a0ff;
        }
      }
    }
  }
  .nav-group__title {
    font-size: 12px;
    color: #99a9bf;
    padding-left: 8px;
    line-height: 26px;
    margin-top: 10px;
  }
}

.demo-block {
  border: solid 1px #eaeefb;
  border-radius: 4px;
  transition: .2s;

  &.hover {
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
  }

  code {
    font-family: Menlo, Monaco, Consolas, Courier, monospace;
  }

  .source {
    padding: 24px;
  }

  .meta {
    background-color: #f9fafc;
    border-top: solid 1px #eaeefb;
    display: flex;
  }

  .highlight {
    flex: 1;
  }

  .description {
    padding: 18px 24px;
    width: 40%;
    box-sizing: border-box;
    border-left: solid 1px #eaeefb;
    font-size: 14px;
    line-height: 1.8;
    color: #5e6d82;
    word-break: break-word;
    p {
      margin: 0;
    }

    code {
      color: #5e6d82;
      background-color: #e6effb;
      margin: 0 4px;
      transform: translateY(-2px);
      display: inline-block;
      padding: 1px 5px;
      font-size: 12px;
      border-radius: 3px;
    }
  }

  pre {
    background-color: #f9fafc;
    overflow-x: auto;
    padding: 18px 24px;
    line-height: 1.8;
    font-size: 12px;
  }

  pre.fixed {
    white-space: pre-line;
  }

  .demo-block-control {
    border-top: solid 1px #eaeefb;
    height: 36px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    margin-top: -1px;
    color: #d3dce6;
    cursor: pointer;
    transition: .2s;
    position: relative;
    i {
      font-size: 12px;
      line-height: 36px;
      transition: .3s;
      &.hovering {
        transform: translateX(-40px);
      }
    }
    span {
      position: absolute;
      transform: translateX(-30px);
      font-size: 14px;
      line-height: 36px;
      transition: .3s;
      display: inline-block;
    }

    &:hover {
      color: #20a0ff;
      background-color: #f9fafc;
    }

    & .text-slide-enter,
    & .text-slide-leave-active {
      opacity: 0;
      transform: translateX(10px);
    }
  }
}

.content p {
  margin: 1em 0;
  font-size: 14px;
  color: #5e6d82;
}
