.demo-button {
  .el-button {
    margin-right: 10px;
  }

  .wrapper {
    float: right;
    margin-right: 20px;
  }

  .block {
    padding: 30px 24px;
    overflow: hidden;
    border-bottom: 1px solid #eff2f6;
  }

  .demonstration {
    font-size: 14px;
    color: #8492a6;
    line-height: 44px;
  }
}
