.demo-color-row {
  display: flex;
  justify-content: space-between;
  margin: -6px;
}

.demo-color-box {
  flex: 1;
  border-radius: 4px;
  padding: 20px;
  height: 74px;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
  display: inline-block;
  margin: 6px;

  & .value {
    font-size: 12px;
    opacity: 0.69;
    line-height: 24px;
  }
}
.demo-color-box-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 6px;

  .demo-color-box {
    border-radius: 0;
    margin: 0;
    flex: 0;
  }

  .demo-color-box:first-child {
    border-radius: 4px 4px 0 0;
  }

  .demo-color-box:last-child {
    border-radius: 0 0 4px 4px;
  }
}

.demo-color-box-group:last-child {
  .demo-color-box {
    border: 1px solid #e0e6ed;
  }

  .demo-color-box:first-child {
    border-bottom: none;
  }

  .demo-color-box:last-child {
    border-top: none;
  }
}

.bg-blue-light {
  background-color: #58b7ff;
}
.bg-blue,
.bg-info {
  background-color: #20a0ff;
}
.bg-blue-dark {
  background-color: #1d8ce0;
}

.bg-success {
  background-color: #13CE66;
}
.bg-warning {
  background-color: #f7ba2a;
}
.bg-danger {
  background-color: #ff4949;
}

.bg-black {
  background-color: #1f2d3d;
}
.bg-black-light {
  background-color: #324057;
}
.bg-black-lighter {
  background-color: #475669;
}

.bg-silver {
  background-color: #8492a6;
}
.bg-silver-light {
  background-color: #99a9bf;
}
.bg-silver-lighter {
  background-color: #c0ccda;
}

.bg-gray {
  background-color: #d3dce6;
}
.bg-gray-light {
  background-color: #e5e9f2;
}
.bg-gray-lighter {
  background-color: #eff2f7;
}

.bg-white-dark {
  background-color: #f9fafc;
}

.color-gray {
  color: #5e6d82 !important;
}
